# Airlines Exploratory Data Analysis

In [145]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [146]:
# ignore warnings
import warnings
warnings.filterwarnings('ignore')

## Data Preprocessing

-----------------------------

### Loading the Data

In [147]:
# load the data
df = pd.read_csv('airlines.csv')
df.head()

,Airport.Code,Airport.Name,Time.Label,Time.Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,...,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003/06,6,June,2003,1009,1275,3217,17,...,5843,27,23974,30060,61606,68335,118831,518,268764,19474
1,BOS,"Boston, MA: Logan International",2003/06,6,June,2003,374,495,685,3,...,1623,3,7875,9639,20319,28189,24400,99,77167,4160
2,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2003/06,6,June,2003,296,477,389,8,...,1245,15,6998,8287,13635,26810,17556,278,64480,6201
3,CLT,"Charlotte, NC: Charlotte Douglas International",2003/06,6,June,2003,300,472,735,2,...,1562,14,7021,8670,14763,23379,23804,127,65865,3792
4,DCA,"Washington, DC: Ronald Reagan Washington National",2003/06,6,June,2003,283,268,487,4,...,1100,18,5321,6513,13775,13712,20999,120,52747,4141

In [148]:
# list the data types
df.dtypes

Airport.Code                                           object
Airport.Name                                           object
Time.Label                                             object
Time.Month                                              int64
Time.Month Name                                        object
Time.Year                                               int64
Statistics.# of Delays.Carrier                          int64
Statistics.# of Delays.Late Aircraft                    int64
Statistics.# of Delays.National Aviation System         int64
Statistics.# of Delays.Security                         int64
Statistics.# of Delays.Weather                          int64
Statistics.Carriers.Names                              object
Statistics.Carriers.Total                               int64
Statistics.Flights.Cancelled                            int64
Statistics.Flights.Delayed                              int64
Statistics.Flights.Diverted                             int64
Statistics.Flights.On Time                              int64
Statistics.Flights.Total                                int64
Statistics.Minutes Delayed.Carrier                      int64
Statistics.Minutes Delayed.Late Aircraft                int64
Statistics.Minutes Delayed.National Aviation System     int64
Statistics.Minutes Delayed.Security                     int64
Statistics.Minutes Delayed.Total                        int64
Statistics.Minutes Delayed.Weather                      int64
dtype: object

In [149]:
# Rename columns
df = df.rename(columns={'Statistics.# of Delays.Carrier': 'Delays.Carrier', 'Statistics.# of Delays.Late Aircraft': 'Delays.Late', 'Statistics.# of Delays.National Aviation System': 'Delays.NAS', 'Statistics.# of Delays.Security': 'Delays:Security', 'Statistics.# of Delays.Weather': 'Delays.Weather', 'Statistics.Carriers.Names': 'Carriers.Names', 'Statistics.Carriers.Total': 'Carriers.Total', 'Statistics.Flights.Cancelled': 'Flights.Cancelled', 'Statistics.Flights.Delayed': 'Flights.Delayed', 'Statistics.Flights.Diverted': 'Flights.Diverted', 'Statistics.Flights.On Time': 'Flights.On_Time', 'Statistics.Flights.Total': 'Flights.Total', 'Statistics.Minutes Delayed.Carrier': 'Min_Delay.Carrier', 'Statistics.Minutes Delayed.Late Aircraft': 'Min_Delay.Late', 'Statistics.Minutes Delayed.National Aviation System': 'Min_Delay.NAS', 'Statistics.Minutes Delayed.Security': 'Min_Delay.Security', 'Statistics.Minutes Delayed.Total': 'Min_Delay.Total', 'Statistics.Minutes Delayed.Weather': 'Min_Delay.Weather'})

In [150]:
# Drop unnessary columns
df.drop(['Time.Label', 'Time.Month Name'], axis=1, inplace=True) 

# Double check the data frame to see if features were dropped
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4408 entries, 0 to 4407
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Airport.Code        4408 non-null   object
 1   Airport.Name        4408 non-null   object
 2   Time.Month          4408 non-null   int64
 3   Time.Year           4408 non-null   int64
 4   Delays.Carrier      4408 non-null   int64
 5   Delays.Late         4408 non-null   int64
 6   Delays.NAS          4408 non-null   int64
 7   Delays:Security     4408 non-null   int64
 8   Delays.Weather      4408 non-null   int64
 9   Carriers.Names      4408 non-null   object
 10  Carriers.Total      4408 non-null   int64
 11  Flights.Cancelled   4408 non-null   int64
 12  Flights.Delayed     4408 non-null   int64
 13  Flights.Diverted    4408 non-null   int64
 14  Flights.On_Time     4408 non-null   int64
 15  Flights.Total       4408 non-null   int64
 16  Min_Delay.Carrier   4408 non-null   int64
 17  Min_Delay.Late      4408 non-null   int64
 18  Min_Delay.NAS       4408 non-null   int64
 19  Min_Delay.Security  4408 non-null   int64
 20  Min_Delay.Total     4408 non-null   int64
 21  Min_Delay.Weather   4408 non-null   int64
dtypes: int64(19), object(3)
memory usage: 757.8+ KB

In [151]:
unique_codes = df['Airport.Code'].unique()
unique_airports = df['Airport.Name'].unique()
#unique_carriers = df['Carriers.Names'].unique()

all_carriers = df['Carriers.Names'].str.split(',').explode().str.strip().unique()

unique_carriers = list(all_carriers)

In [152]:
unique_codes

array(['ATL', 'BOS', 'BWI', 'CLT', 'DCA', 'DEN', 'DFW', 'DTW', 'EWR',
       'FLL', 'IAD', 'IAH', 'JFK', 'LAS', 'LAX', 'LGA', 'MCO', 'MDW',
       'MIA', 'MSP', 'ORD', 'PDX', 'PHL', 'PHX', 'SAN', 'SEA', 'SFO',
       'SLC', 'TPA'], dtype=object)

In [153]:
unique_airports

array(['Atlanta, GA: Hartsfield-Jackson Atlanta International',
       'Boston, MA: Logan International',
       'Baltimore, MD: Baltimore/Washington International Thurgood Marshall',
       'Charlotte, NC: Charlotte Douglas International',
       'Washington, DC: Ronald Reagan Washington National',
       'Denver, CO: Denver International',
       'Dallas/Fort Worth, TX: Dallas/Fort Worth International',
       'Detroit, MI: Detroit Metro Wayne County',
       'Newark, NJ: Newark Liberty International',
       'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International',
       'Washington, DC: Washington Dulles International',
       'Houston, TX: George Bush Intercontinental/Houston',
       'New York, NY: John F. Kennedy International',
       'Las Vegas, NV: McCarran International',
       'Los Angeles, CA: Los Angeles International',
       'New York, NY: LaGuardia', 'Orlando, FL: Orlando International',
       'Chicago, IL: Chicago Midway International',
       'Miami, FL: Miami International',
       'Minneapolis, MN: Minneapolis-St Paul International',
       "Chicago, IL: Chicago O'Hare International",
       'Portland, OR: Portland International',
       'Philadelphia, PA: Philadelphia International',
       'Phoenix, AZ: Phoenix Sky Harbor International',
       'San Diego, CA: San Diego International',
       'Seattle, WA: Seattle/Tacoma International',
       'San Francisco, CA: San Francisco International',
       'Salt Lake City, UT: Salt Lake City International',
       'Tampa, FL: Tampa International'], dtype=object)

In [154]:
unique_carriers

['American Airlines Inc.',
 'JetBlue Airways',
 'Continental Air Lines Inc.',
 'Delta Air Lines Inc.',
 'Atlantic Southeast Airlines',
 'AirTran Airways Corporation',
 'America West Airlines Inc.',
 'Northwest Airlines Inc.',
 'ExpressJet Airlines Inc.',
 'United Air Lines Inc.',
 'US Airways Inc.',
 'Alaska Airlines Inc.',
 'Atlantic Coast Airlines',
 'American Eagle Airlines Inc.',
 'ATA Airlines d/b/a ATA',
 'Southwest Airlines Co.',
 'SkyWest Airlines Inc.',
 'Hawaiian Airlines Inc.',
 'Comair Inc.',
 'Independence Air',
 'Frontier Airlines Inc.',
 'Mesa Airlines Inc.',
 'Aloha Airlines Inc.',
 'Pinnacle Airlines Inc.',
 'Virgin America',
 'Endeavor Air Inc.',
 'Envoy Air',
 'Spirit Air Lines']

In [155]:
# Drop the carrier names column
df = df.drop('Carriers.Names', axis=1)

### Handling Date Variables

In [160]:
# Check unique values for month and year features
df['Time.Month'].unique()

array([ 6,  7,  8,  9, 10, 11, 12,  1,  2,  3,  4,  5], dtype=int64)

In [161]:
df['Time.Year'].unique()

array([2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016], dtype=int64)

### Handling Missing and Duplicate Data

In [156]:
# Check if there are missing values
df.isnull().sum()

Airport.Code          0
Airport.Name          0
Time.Month            0
Time.Year             0
Delays.Carrier        0
Delays.Late           0
Delays.NAS            0
Delays:Security       0
Delays.Weather        0
Carriers.Total        0
Flights.Cancelled     0
Flights.Delayed       0
Flights.Diverted      0
Flights.On_Time       0
Flights.Total         0
Min_Delay.Carrier     0
Min_Delay.Late        0
Min_Delay.NAS         0
Min_Delay.Security    0
Min_Delay.Total       0
Min_Delay.Weather     0
dtype: int64

In [157]:
# Drop duplicate rows
df.drop_duplicates(inplace=True)

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4408 entries, 0 to 4407
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Airport.Code        4408 non-null   object
 1   Airport.Name        4408 non-null   object
 2   Time.Month          4408 non-null   int64
 3   Time.Year           4408 non-null   int64
 4   Delays.Carrier      4408 non-null   int64
 5   Delays.Late         4408 non-null   int64
 6   Delays.NAS          4408 non-null   int64
 7   Delays:Security     4408 non-null   int64
 8   Delays.Weather      4408 non-null   int64
 9   Carriers.Total      4408 non-null   int64
 10  Flights.Cancelled   4408 non-null   int64
 11  Flights.Delayed     4408 non-null   int64
 12  Flights.Diverted    4408 non-null   int64
 13  Flights.On_Time     4408 non-null   int64
 14  Flights.Total       4408 non-null   int64
 15  Min_Delay.Carrier   4408 non-null   int64
 16  Min_Delay.Late      4408 non-null   int64
 17  Min_Delay.NAS       4408 non-null   int64
 18  Min_Delay.Security  4408 non-null   int64
 19  Min_Delay.Total     4408 non-null   int64
 20  Min_Delay.Weather   4408 non-null   int64
dtypes: int64(19), object(2)
memory usage: 723.3+ KB

### Encoding the Data

In [159]:
label_encoder = LabelEncoder()

df['Airport.Code'] = label_encoder.fit_transform(df['Airport.Code'])

df.head()

,Airport.Code,Airport.Name,Time.Month,Time.Year,Delays.Carrier,Delays.Late,Delays.NAS,Delays:Security,Delays.Weather,Carriers.Total,...,Flights.Delayed,Flights.Diverted,Flights.On_Time,Flights.Total,Min_Delay.Carrier,Min_Delay.Late,Min_Delay.NAS,Min_Delay.Security,Min_Delay.Total,Min_Delay.Weather
0,0,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",6,2003,1009,1275,3217,17,328,11,...,5843,27,23974,30060,61606,68335,118831,518,268764,19474
1,1,"Boston, MA: Logan International",6,2003,374,495,685,3,66,14,...,1623,3,7875,9639,20319,28189,24400,99,77167,4160
2,2,"Baltimore, MD: Baltimore/Washington Internatio...",6,2003,296,477,389,8,78,11,...,1245,15,6998,8287,13635,26810,17556,278,64480,6201
3,3,"Charlotte, NC: Charlotte Douglas International",6,2003,300,472,735,2,54,11,...,1562,14,7021,8670,14763,23379,23804,127,65865,3792
4,4,"Washington, DC: Ronald Reagan Washington National",6,2003,283,268,487,4,58,13,...,1100,18,5321,6513,13775,13712,20999,120,52747,4141

## Univariate Analysis

---------------------------------------

## Bivariate / Multivariate Analysis

---------------------------

## Visualizations

----------------------------

## Hypothesis Generation